<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <system.net>
    <mailSettings>
      <smtp from="ps2016v33@gmail.com">
        <network host="smtp.gmail.com"
                 port="587"
                 userName="ps2016v33@gmail.com"
                 password="ps2016v33ps2016v33"
                 enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>

  <connectionStrings>
    <add name="SeaBattleConnection" connectionString="Data Source=server2;Initial Catalog=_SeaBattle;Persist Security Info=True;User ID=sa;Password=ghbvf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>